#root {
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: var(--page-width);
  margin-top: 30px;
  padding: 0 20px;
}
nav {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

nav a {
  padding: 10px;
}

nav a.right {
  margin-left: auto;
}
section {
  margin-top: 30px;
  display: flex;
  width: var(--page-width);
  max-width: 100%;
  padding: 0 20px;
  gap: 20px;
}
aside {
  flex: 0 0 auto;
  background-color: #444444;
  padding: 20px;
}
main {
  flex: 1;
  background-color: #2f2f2f;
  padding: 20px;
}

@media only screen and (max-width: 1024px) {
  section {
    flex-direction: column;
  }
  aside, main {
    width: 100%;
  }
}