#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: var(--page-width);
  margin-top: 30px;
  padding: 0 20px;
}
nav {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

nav a {
  padding: 10px;
}

nav a.right {
  margin-left: auto;
}
section {
  margin-top: 30px;
  display: flex;
  width: var(--page-width);
  max-width: 100%;
  padding: 0 20px;
  gap: 20px;
}
aside {
  flex: 0 0 auto;
  background-color: #444444;
  padding: 20px;
}
main {
  flex: 1;
  background-color: #2f2f2f;
  padding: 20px;
}

@media only screen and (max-width: 1024px) {
  section {
    flex-direction: column;
  }
  aside, main {
    width: 100%;
  }
}
.leaflet-container {
  height: 600px;
  width: 900px;
}

.marker {
  background-color: #0f2db3;
  border-radius: 100%;
  box-shadow: 0px 4px 5px #000;
}

.idle {
  background-color: yellow;
}

.running {
  background-color: #0f2db3;
}

.finished {
  background-color: rgb(35, 175, 35);
}

.errored {
  background-color: red;
}

.repaired {
  background-color: greenyellow;
  color: black;
}

.selected {
  background-color: white;
  border: 2px solid black;
}

dl {
  margin-top: 20px;
}

dt {
  font-weight: bold;
}

dd {
  padding-left: 10px;
}

.event-list {
  margin-top: 20px;
  max-height: 300px;
  overflow-y: scroll;
}

.event-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-list li span:first-child {
  padding: 0 4px;
  border-radius: 2px;
  display: inline-block;
  margin: 4px 0;
}